$backgroundColor: #efefef;
$radius: 40%;

.results {
    margin: auto;
    text-align: center;
    padding: 100px;
    border: purple solid 11px;
    width: 50%;

        // margin: auto;
        // text-align: center;
        // padding: 100px;
        // border: purple solid 11px;
        // width: 50%;
//     margin: auto;
//     text-align: center;
//     padding: 100px;
//     border: purple solid 11px;
//     width: 50%;
}
