$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgb(107, 56, 96);

        &:hover, &.active {
          background: rgb(0, 248, 41);
        }
      }
    }
  }
}
